@keyframes showAccordion {
  from {
    opacity: 0;
    transform: translatey(-30px);
    max-height: 0px;
  }
  to {
    opacity: 1;
    transform: translatey(0px);
    max-height: 200px;
  }
}

@keyframes showLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes showDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0 0 -100px);
  }
  to {
    opacity: 1;
    transform: translate3d(0 0 0px);
  }
}
