[data-tab-content] section {
  display: none;
}

[data-tab-content] section.ativo.show-left {
  display: block !important;
  animation: showLeft 0.5s forwards;
}

[data-tab-content] section.ativo.show-down {
  display: block !important;
  animation: showDown 0.5s forwards;
}

[data-accordion] dt {
  cursor: pointer;
}

[data-accordion] dt::after {
  content: '+';
  margin-left: 10px;
}

[data-accordion] dt.ativo::after {
  content: '-';
  margin-left: 10px;
}

[data-accordion] dd {
  display: none;
  animation: showAccordion 0.3s forwards;
}

[data-accordion] dd.ativo {
  display: block;
}

[data-scroll] {
  opacity: 0;
  transition: 0.4s;
  transform: translateX(-100px);
}

[data-scroll].ativo {
  opacity: 1;
  transform: translateX(0px);
}
