@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: #fb5;
  --color-secondary: #e43;
  --color-tertiary: #222;
  --color-quaternary: #faf6ed;

  --font-ibm: 'IBM Plex Mono', monospace;
  --font-playfair: 'PlayFair Display SC' georgia;
  --font-helvetica: Helvetica, monospace;
}
