* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin: 2rem 0rem;
  background-color: #fb5;

  & ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  & ul li a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
  }
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 500px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;

  & .titulo {
    font-family: 'PlayFair Display SC' georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
  }

  &.animais p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    color: #e43;
  }
  &.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #fb5;
  }

  & .animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
  }

  & .animais-lista::-webkit-scrollbar {
    width: 20px;
  }
  & .animais-lista::-webkit-scrollbar-thumb {
    background: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
  }
  & .animais-lista::-webkit-scrollbar-track {
    background: #faf6ed;
  }

  & .animais-descricao {
    grid-column: 3;
    height: 470px;
    overflow-y: scroll;
  }

  & .animais-descricao section {
    margin-bottom: 3rem;
  }

  & .animais-descricao::-webkit-scrollbar {
    width: 20px;
  }
  & .animais-descricao::-webkit-scrollbar-thumb {
    background: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
  }
  & .animais-descricao::-webkit-scrollbar-track {
    background: #faf6ed;
  }

  /* ================================================================= */

  & .faq-lista {
    grid-column: 2 / 4;
  }

  & .faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: #e43;
  }

  & .faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #fb5;
  }

  & .faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: 0.5rem;
    margin-left: 50px;
  }

  /* ================================================================= */

  & .mapa {
    grid-column: 1 / 2;
  }

  & .dados {
    grid-column: 3;

    & li {
      font-family: Helvetica, Arial;
      margin-bottom: 1rem;
      flex-wrap: nowrap;
    }

    & li::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 10px;
      margin-right: 10px;
      background: #fb5;
    }
  }

  /* ================================================================= */
}

.copy {
  grid-column: 2 / 4;
  margin-bottom: 2rem;
  background: #fb5;

  & p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-align: center;
  }
}
